<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Onboarding Agreement</title>
    <style>
        @page {
            size: A4;
            margin: 20mm 20mm 30mm 20mm;
        }
        body {
            font-family: "Helvetica", "Arial", sans-serif;
            font-size: 11pt;
            line-height: 1.6;
            color: #222;
            margin: 0;
            padding: 0;
        }
        h1 {
            font-size: 18pt;
            text-align: center;
            margin-bottom: 6pt;
        }
        h2 {
            font-size: 13pt;
            margin-top: 16pt;
            margin-bottom: 6pt;
        }
        p {
            margin: 6pt 0;
            text-align: justify;
        }
        ul, ol {
            margin: 6pt 0 6pt 18pt;
            padding: 0;
        }
        li {
            margin-bottom: 4pt;
        }
        .header {
            text-align: center;
            margin-bottom: 20pt;
        }
        .header p {
            font-size: 10pt;
            color: #666;
        }
        .signature-block {
            margin-top: 30pt;
            page-break-before: always;
        }
        .signature-line {
            border-bottom: 1px solid #000;
            width: 250px;
            height: 100px;
            margin-bottom: 4pt;
        }
        .signature-details p {
            margin: 2pt 0;
            font-size: 11pt;
        }
    </style>
</head>
<body>

<div class="header">
    <h1>ONBOARDING AGREEMENT</h1>
    <p>Citadel Group Sdn. Bhd</p>
    <p>L3-1 Wisma LYL, No 12, Jalan 51A/223, Seksyen 51A, 46100 Petaling Jaya, Selangor, Malaysia</p>
</div>

<p>Our Terms and Conditions were last updated on {{ date }}.</p>
<p>Please read these terms and conditions carefully before using Our Service.</p>

<h2>1. Interpretation and Definitions</h2>

<p><b>Interpretation</b></p>
<p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or plural.</p>

<p><b>Definitions</b></p>
<p>For the purposes of these Terms and Conditions:</p>
<ul>
    <li><b>"Application"</b> means the software program provided by the Company downloaded by You on any electronic device, named CITADEL FIRST.</li>
    <li><b>"Application Store"</b> means the digital distribution service operated and developed by Apple Inc. (Apple App Store) or Google Inc. (Google Play Store) in which the Application has been downloaded.</li>
    <li><b>"Affiliate"</b> means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</li>
    <li><b>"Account"</b> means a unique account created for You to access our Service or parts of our Service.</li>
    <li><b>"Company"</b> (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to CITADEL GROUP SDN. BHD.</li>
    <li><b>"Country"</b> refers to Malaysia.</li>
    <li><b>"Content"</b> refers to content which includes without limitation all forms of text, files, data, images, photographs, pictures, logos, video streaming, news or other information that can be posted, uploaded, linked to or otherwise made available by You, regardless of the form of that content.</li>
    <li><b>"Device"</b> means any device that can access the Service such as a computer, a cell phone or a digital tablet.</li>
    <li><b>"Feedback"</b> means feedback, innovations or suggestions sent by You regarding the attributes, performance or features of our Service.</li>
    <li><b>"Service"</b> refers to the use and access to the Website.</li>
    <li><b>"SuperApp"</b> refers to the mobile application developed by CITADEL GROUP SDN. BHD.</li>
    <li><b>"Terms and Conditions"</b> mean these Terms and Conditions that form the entire agreement between You and the Company regarding the use of the Service.</li>
    <li><b>"Third-party Social Media Service"</b> means any services or content (including data, information, products or services) provided by a third-party that may be displayed, included or made available by the Service.</li>
    <li><b>"You", "Your" or "User"</b> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</li>
</ul>

<h2>2. Acknowledgement</h2>
<p>These are the Terms and Conditions governing the use of this Service and the agreement that operates between You and the Company. These Terms and Conditions set out the rights and obligations of all users regarding the use of the Service.</p>
<p>Your access to and use of the Service is conditioned on Your acceptance of and compliance with these Terms and Conditions. These Terms and Conditions apply to all visitors, users and others who access or use the Service.</p>
<p>By accessing or using the Service You agree to be bound by these Terms and Conditions. If You disagree with any part of these Terms and Conditions, then You may not access the Service.</p>
<p>Our Service is the property of the Company. To this end, we grant you a non-exclusive, non-sub-licensable, revocable and limited license to access our Platform to enjoy personal, non-commercial use of our Service in accordance with these Terms and Conditions.</p>
<p>You represent that you are over the age of 18. The Company does not permit those under 18 to use the Service.</p>
<p>Your access to and use of the Service is also conditioned on Your acceptance of and compliance with the Privacy Policy of the Company. Our Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your personal information when You use the Application or the Website and tells You about Your privacy rights and how the law protects You.</p>

<h2>3. User Accounts</h2>
<p>When You create an account with Us, You must provide Us information that is accurate, complete, and current always. Failure to do so constitutes a breach of the Terms and Conditions, which may result in immediate termination of Your account on Our Service.</p>
<p>When selecting a username, you agree not to select or use a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than You without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.</p>
<p>You are responsible for safeguarding the password that You use to access the Service and for any activities or actions under Your password, whether Your password is with Our Service or a Third-Party Social Media Service.</p>
<p>You agree not to disclose Your password to any third party. You must notify Us immediately upon becoming aware of any breach of security or unauthorized use of Your account.</p>

<h2>4. Information as Content</h2>
<p>Our Service allows You to post your information as Content. You are responsible for the Content that You post to the Service, including its legality, reliability, and appropriateness.</p>
<p>By posting information as content to the Service, You grant Us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service.</p>
<p>We make no guarantees as to the authenticity, accuracy or completeness of any Content on our Service, including Content provided by you or other third-party.</p>

<h2>5. Content Restrictions</h2>
<p>The Company is not responsible for the information as content of the Service's users. You expressly understand and agree that You are solely responsible for the information as content and for all activity that occurs under your account.</p>
<p>You may not transmit any information as content that is unlawful, offensive, upsetting, intended to disgust, threatening, libelous, defamatory, obscene or otherwise objectionable.</p>
<p>The Company reserves the right, but not the obligation, to, in its sole discretion, determine whether or not any information as content is appropriate and complies with these Terms and Conditions, refuse or remove this information as content.</p>

<h2>6. Personal Data</h2>
<p>Where the Personal Data Protection Act 2010 (PDPA) is relevant to the disclosure of data or information by the User hereto or in connection with this Terms and Conditions, the Company hereby agree to fully comply with the provisions of the PDPA and in accordance with the following manner:</p>
<p>The Company takes your right to privacy seriously and commits to protecting your personally identifiable information and the laws of Malaysia. By visiting or viewing our website, applications or social media sites, using or subscribing to any of our products or services, you are agreeing to the provisions of this Privacy Notice and the processing of your personal data as described in this Privacy Notice.</p>
<p>The legal basis we rely on for processing of your personal data may be: your consent; compliance with the Company's legal obligations; protection of your vital interests; the Company's performance of statutory duties; the Company's legitimate interests.</p>
<p>The types of personal data which the Company may need to process include but are not limited to: your name, date of birth, identification supporting documents (including NRIC or passport number), gender, nationality and race, preferred language, current private and/or business address, installation address, telephone or mobile phone number, fax number, email address; your credit and/or debit card information, bank account details and your payment history; the status of the products and/or services you have acquired from us or subscribed to.</p>
<p>You have the right under PDPA 2010 to make a data access request with respect to your personal data held by us.</p>

<h2>7. Consent</h2>
<p>To the extent that any of the data/information of the User is disclosed pursuant to this Terms, the User hereby irrevocably consent, authorize and confirm that the data/information belongs to the User or the User have the right to use it and grant the Company the rights and license as provided in these Terms and Conditions.</p>

<h2>8. Copyright Policy</h2>
<p>The Service and its original content (excluding information content provided by You or other users), features and functionality are and will remain the exclusive property of the Company and its licensors.</p>
<p>We respect the intellectual property rights of others. It is Our policy to respond to any claim that Content posted on the Service infringes a copyright or other intellectual property infringement of any person.</p>

<h2>9. Other Websites and Third-Party Links</h2>
<p>Our Service may contain links to third-party websites or services that are not owned or controlled by the Company. The Company has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party web sites or services.</p>

<h2>10. Termination</h2>
<p>We may terminate or suspend Your Account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if You breach these Terms and Conditions.</p>
<p>Upon termination, Your right to use the Service will cease immediately. If You wish to terminate Your Account, You may simply discontinue using the Service.</p>

<h2>11. Disclaimer and Limitation of Liability</h2>
<p>Notwithstanding any damages that You might incur, the entire liability of the Company and any of its suppliers under any provision of this Terms and Conditions and Your exclusive remedy for all of the foregoing shall be limited to the amount actually paid by You as the User through the Service or RM 1,000.00 if You have not purchased anything through the Service.</p>
<p>To the maximum extent permitted by applicable law, in no event shall the Company or its suppliers be liable for any special, incidental, indirect, or consequential damages whatsoever.</p>

<h2>12. "As Is" and "As Available" Disclaimer</h2>
<p>The Service is provided to You "AS IS" and "AS AVAILABLE" and with all faults and defects without warranty of any kind. To the maximum extent permitted under applicable law, the Company, on its own behalf and on behalf of its Affiliates and its and their respective licensors and service providers, expressly disclaims all warranties, whether express, implied, statutory or otherwise, with respect to the Service.</p>

<h2>13. Governing Law</h2>
<p>These Terms and Conditions shall be governed in accordance with the laws of Malaysia.</p>

<h2>14. Severability and Waiver</h2>
<p>In the event that any of the terms, conditions or provisions contained in this Terms and Conditions shall be deemed invalid, unlawful or unenforceable to any extent, such term, condition or provision shall be severed from the remaining terms, conditions and provisions which shall continue to be valid to the fullest extent permitted by law.</p>
<p>Except as provided herein, the failure to exercise a right or to require performance of an obligation under these Terms and Conditions shall not affect a party's ability to exercise such right or require such performance at any time thereafter.</p>

<h2>15. Changes to These Terms and Conditions</h2>
<p>We reserve the right, at Our sole discretion, to modify or replace these Terms and Conditions at any time. If a revision is material, We will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking effect.</p>
<p>By continuing to access or use Our Service after those revisions become effective, You agree to be bound by the revised terms.</p>

<h2>16. Miscellaneous</h2>
<p>The Company reserves the right, in its sole discretion, to the extent permissible under relevant law to temporarily or permanently modify, suspend, or terminate the Service and/or any part thereof.</p>
<p>These Terms and Conditions and other documents expressly referred to in these Terms, as may be amended from time to time, constitute the entire agreement and understanding between the Company and you in relation to the subject matter of these Terms and Conditions.</p>

<h2>Contact Us</h2>
<p>If you have any questions about these Terms and Conditions, please contact Citadel Group via email at enquiry@citadelgroup.com.my</p>

<div class="signature-block">
    <h2>Signature</h2>

    <div class="signature-line">
        <img src="{{ signature_data_uri }}" alt="Signature" width="250" height="100"/>
    </div>

    <div class="signature-details">
        <p><b>Name:</b> {{ full_name }}</p>
        <p><b>MyKad/Passport No.:</b> {{ ic_number }}</p>
        <p><b>Date:</b> {{ date }}</p>
    </div>
</div>

</body>
</html>